
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

//Bulma
@import "variables";
@import "node_modules/bulma/bulma";

$flex-alignements: ('start': 'flex-start', 'center': 'center', 'end': 'flex-end');
@each $name, $value in $flex-alignements {
  .align-items-#{$name} {
    align-items: #{$value}!important;
  }
  .justify-content-#{$name} {
    justify-content: #{$value}!important;
  }
}

.card {
  border-radius: $radius-large;
  box-shadow: $box-shadow-light;
}
